<!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-white" id="banner">

  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <img src="assets/images/metrologo.jpg" width="120" height="50" class="logo" alt="">
    </a>
    <button class="navbar-toggler collapsed" id="main" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" (click)="openNav()"></span>
    </button>
    <div class="navbar-collapse collapse">
      <ul class="navbar-nav ml-auto navba-menu">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#services" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#services" routerLink="/service">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#services" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#services" routerLink="/contact">Contact</a>
        </li>
        
      </ul>
    </div>
    <div class="navbar-collapse  sidenav" id="mySidenav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#services" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact" routerLink="/service">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact" routerLink="/contact">Contact</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top d-none d-lg-block">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="navbar-brand" href="#">
      <img src="../../assets/images/metrologo.jpg" width="100" height="50" alt="">
    </a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="service">Services</a>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact">Contact</a>
      </li>

    </ul>
  </div>
</nav>


<!-- mobile nav -->

<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top d-lg-none">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <a class="navbar-brand" href="#">
    <img src="../../assets/images/metrologo.jpg" width="100" height="50" alt="">
  </a>
  <button class="navbar-toggler" type="button" (click)="toggle()" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf=" showDropDown">

    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home" (click)="hideModel()">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="service" (click)="hideModel()">Services</a>
      <li class=" nav-item">
        <a class="nav-link" routerLink="about" (click)="hideModel()">About</a>
      </li>
      <li class=" nav-item">
        <a class="nav-link" routerLink="contact" (click)="hideModel()">Contact</a>
      </li>

    </ul>
  </div>
</nav>
