// .sidenav {
//     height: 100%;
//     width: 0;
//     position: fixed;
//     z-index: 1;
//     top: 0;
//     right: 0;
//     background-color: #111;
//     overflow-x: hidden;
//     transition: 0.5s;
//     padding-top: 60px;
// }

// .sidenav .closebtn {
//     position: absolute;
//     top: 0;
//     right: 25px;
//     font-size: 36px;
//     margin-left: 50px;
// }
// .dropdown-toggle::after{
//     display: none;
// }
// //

// .navbar{-webkit-transition: padding-top .3s,padding-bottom .3s;
//     -moz-transition: padding-top .3s,padding-bottom .3s;
//     transition: padding-top .3s,padding-bottom .3s;
//     border: none;
// 	}
	
//  .shrink {
//     padding-top: 0;
//     padding-bottom: 0;
//     background-color: #e9fbfb;
//     box-shadow: 0px 1px 2px #1c2a5e40;
// }
// .navba-menu {
//     li {
//         .nav-link{
//             font-size: 17px;
//             margin-left: 17px;
//             color: #107ad6;
//             font-weight: 600;
//         }
//     }
// }

.navbar{
    padding:5px;
  }
  .navbar a img{
    margin-left: 100px;
  }
  .navbar .navbar-collapse{
    margin-right: 180px;
  }
  .navbar .navbar-collapse li{
    margin-left: 10px;
  }
  .navbar .navbar-collapse li a{
    color: #107ad6;
    font-size: 20px;
    // font-style: italic;
    // font-weight: bold;
    //  border-bottom: 2px solid rgb(12, 136, 207);
  }
  
  .navbar .navbar-collapse li a:hover{
  //  color: #000;
  color: white;
   background-color: rgb(12, 136, 207);
  // border-bottom: 5px solid rgb(12, 136, 207);
  }
  
  @media screen and (max-width: 574px) {
    .navbar .navbar-collapse li{
    // margin-left: 150px;
    margin-top: 20px;
    }
    .navbar a img{
      margin-left: 10px;
    }
    .navbar .navbar-collapse li a{
      color: black;
      font-size: 20px;
      font-style: italic;
      // font-weight: bold;
      border-bottom: none;
    }
  
  }