
<footer id="footer" class="foot" >

    
  
    <div class="footer-top">
      <div class="container">
        <div class="row">
  
          <div class="col-lg-3 col-6 footer-contact">
            <h3 style="color: white;text-shadow: 2px 2px 4px #000000;">Metro Facility<span></span></h3>
            <p>
              Regd. Off.: B3, Sai Sidhhesh Complex, <br>
              Raghuji Nagar, Sakkardara<br>
              Nagpur – 440023. India<br>
              <strong>Phone:</strong> +91 7972473955<br>
              <strong>Email:</strong> metro_hr@hotmail.com<br>
            </p>
          </div>
  
          <div class="col-lg-3 col-6 footer-links">
            <h4 style="color: white;text-shadow: 2px 2px 4px #000000;">Useful Links</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i>&nbsp; <a href="#" style="color:#b4b4b4" routerLink="/home">Home</a></li>
              <li><i class="fa fa-angle-right"></i>&nbsp; <a href="#" style="color:#b4b4b4" routerLink="/about">About </a></li>
              <li><i class="fa fa-angle-right"></i>&nbsp; <a href="#" style="color:#b4b4b4" routerLink="/service">Services</a></li>
              <li><i class="fa fa-angle-right"></i>&nbsp; <a href="#" style="color:#b4b4b4" routerLink="/contact">Contact</a></li>
              
            </ul>
          </div>
  
          <div class="col-lg-3 col-6 footer-links">
            <h4 style="color: white;text-shadow: 2px 2px 4px #000000;">Our Services</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i>&nbsp; <a href="#" style="color:#b4b4b4">Housekeeping</a></li>
              <li><i class="fa fa-angle-right"></i>&nbsp; <a href="#" style="color:#b4b4b4">Security Service</a></li>
              <li><i class="fa fa-angle-right"></i>&nbsp;  <a href="#" style="color:#b4b4b4">Manpower</a></li>
              <li><i class="fa fa-angle-right"></i>&nbsp; <a href="#" style="color:#b4b4b4">Pest Control</a></li>
              
            </ul>
          </div>
  
          <div class="col-lg-3 col-6 footer-links">
            <h4 style="color: white;text-shadow: 2px 2px 4px #000000;">Our Social Networks</h4>
            <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
            <div class="social-links mt-3">
              <img src="assets/images/f1.png" alt="">&nbsp;&nbsp;<img src="assets/images/f2.jpg" alt="">&nbsp;&nbsp;<img src="assets/images/f3.png" alt="">&nbsp;&nbsp;<img src="assets/images/f4.png" alt="">&nbsp;
              <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
              <!-- <p>&nbsp; <i class="fa fa-twitter mr-4 text-white" aria-hidden="true"></i>&nbsp;<i class="fa fa-facebook mr-4 text-white" aria-hidden="true"></i>&nbsp;<i class="fa fa-instagram mr-4 text-white" aria-hidden="true"></i>&nbsp;<i class="fa fa-linkedin mr-4 text-white" aria-hidden="true"></i>&nbsp;<i class="fa fa-skype text-white" aria-hidden="true"></i></p> -->
            </div>
          </div>
  
        </div>
      </div>
    </div>
  
    <div class="container py-4">
      <div class="copyright">
        © Copyright <strong><span>DApps Solution India Pvt Ltd</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
        Designed by <a href="https://bootstrapmade.com/" class="text-white">DAppsIndia</a>
      </div>
    </div>
  </footer>
  
