// .bg {
//     background-color: #fff;
// }

#footer {
    
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
    background: #141414;
}
// #footer .footer-newsletter {
//     padding: 50px 0;
//     background: #f1f6fe;
//     text-align: center;
//     font-size: 15px;
// }
#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #3c3c3c;
}
footer .footer-top .footer-contact {
    margin-bottom: 30px;
}
footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    color: #b4b4b4;
}
#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}
// #footer .footer-top .social-links a {
//     font-size: 18px;
//     display: inline-block;
//     background: #106eea;
//     color: #fff;
//     line-height: 1;
//     padding: 8px 0;
//     margin-right: 4px;
//     border-radius: 4px;
//     text-align: center;
//     width: 36px;
//     height: 36px;
//     transition: 0.3s;
// }
#footer .footer-links  p{
   color: #b4b4b4;
}
#footer  .social-links img{
    width: 1.9rem;
}

 
 
