<section class="section-padding bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mb-4">
        <h2 class="section-title text-primary">How it Works?</h2>
      </div>
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-12 mb-3">
            <div class="row why-use-blog text-left">
              <div class="col-2 text-center">
                <img src="https://storage.googleapis.com/plusneed_gallery/n_ui_2021/1.27.40/stats2.png" alt="">
              </div>
              <div class="col-9">
                <h5>Connect With Us</h5>
                <p>Connect with our Metro Team</p>
              </div>
              <div class="col-1 pl-0 play-video">
                <i class="material-icons">
                  play_circle_filled
                </i>
              </div>
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <div class="row why-use-blog text-left">
              <div class="col-2 text-center">
                <img src="assets/images/banners/si4.png" alt="">
              </div>
              <div class="col-9">
                <h5>Choose your service</h5>
                <p>You can choose your service in youe budgets</p>
              </div>
              <div class="col-1 pl-0 play-video">
                <i class="material-icons">
                  play_circle_filled
                </i>
              </div>
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <div class="row why-use-blog text-left">
              <div class="col-2 text-center">
                <img src="https://storage.googleapis.com/plusneed_gallery/n_ui_2021/1.27.40/stats3.png" alt="">
              </div>
              <div class="col-9">
                <h5>Start your service</h5>
                <p>You can start your service at any time</p>
              </div>
              <div class="col-1 pl-0 play-video">
                <i class="material-icons">
                  play_circle_filled
                </i>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-12 mb-3">
              <div class="row why-use-blog text-left">
                <div class="col-2 text-center">
                  <img src="https://storage.googleapis.com/plusneed_gallery/n_ui_2021/1.27.40/stats4.png" alt="">
                </div>
                <div class="col-9">
                  <h5>Connect & Book demo</h5>
                  <p>Connect with tutors of your choice across India and book a free demo</p>
                  </div>
                  <div class="col-1 pl-0 play-video">
                    <i class="material-icons">
                      play_circle_filled
                      </i>
                  </div>
              </div>
            </div> -->


        </div>
      </div>
      <div class="col-md-5">
        <img src="assets/images/banners/os3.png" class="w-100" alt="">
      </div>

    </div>
  </div>
</section>
