.why-use-blog{
    border: 1px solid #ddd;
    padding: 18px 1px;
    border-radius: 11px;
    box-shadow: 5px 6px 5px #ddd;
    transition-duration: 0.5s;
    background: #fff;
    img{
        width: 3.9rem;
    }
    h5{
        font-size: 1.1rem;
        padding-top: 9px;
    }
    &:hover{
        box-shadow: 0 0 5px #ddd;
    }
}
.play-video{
    display: flex;
    align-items: center;
    justify-content: center;
    i{
        font-size: 37px;
    color: #0763bf;
    transition-duration: 0.2s;
    }
    i:hover{
        font-size: 43px;
    }
}
@media (min-width: 310px) and (max-width: 470px){
    .why-use-blog img{
        width: 3.3rem;
    }
}