<!-- <section class="mt-5">
    <div class="banner">
        <img src="assets/images/b6.png" class="w-100">
    </div>
</section><br> -->
<div id="carouselExampleIndicators" class="carousel slide  mt-5" data-ride="carousel">

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 " src="../../assets/images/b6.png" alt="First slide" style="height: 350px;">
      <div class="carousel-caption  d-md-block">
        <!-- <h5 class="animate__animated animate__fadeInDown"> At vero eos et accusamus</h5> -->
        <h2 class="animate__animated animate__fadeInUp" style=" font-size: 32px;">About Us
        </h2>
        <p style="margin-bottom:124px;">Choose multiple services in METRO.</p>

      </div>
    </div>

  </div>
</div>
<section class="mt-5">
  <div class="container">
    <div class="row mt-4">
      <div class="col-lg-12">

        <div class="row">
          <div class="col-md-4 mb-2">
            <div class="statistic">
              <img src="assets/images/a1.webp" class="w-100">
            </div>

          </div>
          <div class="col-md-8">
            <div class="statistic">
              <h2 class="text-primary text-center"> About Metro</h2>

              <p style="font-size:18px; font-family: Times New Roman, Times, serif;">Metro Facility
                Management is professional in HR Solution As Staffing, Housekeeping, Security solution
                and project management etc. Our leadership qualities and innovative ideas guided by
                professional in aforesaid fields. METRO to realize that constant changes are the only
                step forward toward the future. METRO have approved standard of ISO 9001-2008. METRO
                provide highest quality manpower services to all our esteemed clients to fit in all
                circumstances and within budgets. METRO vision is to provide security with cutting edge
                protection and loss prevention services, which is unique in the field of private
                security organization. It has been our endeavor to be innovative productive, positive
                and quality conscious so that we effectively secure tomorrow today.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> <br>
<section class="mt-5 mb-4">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">

        <div class="row service text-center mb-5">
          <div class="col-md-4 mb-2">
            <div class="why-use-blog text-center">
              <img src="assets/images/1.png" class="rounded-circle mb-2">
              <h3 class="text-primary">OUR SERVICES</h3>
              <p class="mr-2 ml-2">We, at Best Quality Housekeeping Services Pvt Ltd believe in offering
                sustainable and best of services to our clients. With our team of professionals

              </p>
            </div>
          </div>
          <div class="col-md-4 mb-2">
            <div class="why-use-blog text-center">
              <img src="assets/images/2.png" class="rounded-circle mb-2">
              <h3 class="text-primary">OUR MISSION</h3>
              <p class="mr-2 ml-2">We as a company deem in offering to our client world-class service
                maintaining high standards of ethics, professionalism and ensuring quality work with our
                workforce. </p>
            </div>
          </div>
          <div class="col-md-4 mb-2">
            <div class="why-use-blog text-center">
              <img src="assets/images/3.png" class="rounded-circle mb-2">
              <h3 class="text-primary">OUR VISION</h3>
              <p class="mr-2 ml-2">We deem to be recognized by our clients, employees and industry as the
                top industry players and as the top service provider in the housekeeping industry
                sector.</p>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</section>
<section class="about ">
  <div class="container">
    <div class="row ">
      <div class="col-lg-12 ">
        <h2 class=" text-center text-primary mb-4">Metro Facility Manegement</h2>

        <ul>
          <li>The focus at METRO is to provide customized Human Resources Solution, Security Solution and
            Allied Services to our precious clients.</li><br>
          <li> METRO has set new standard in security & facility management industry. A correct blend of
            skills & resources, developed & perfected by team has enabled us through an expert team reputed
            of professional to provide unparalleled & intensive service to the prime segment of well known
            corporate houses, hotels, hospitals, and industries & institution from the smallest residences
            to the largest corporation. We have been providing services to fit in all circumstances &
            budgets.</li><br>
          <li>With the overall economic development in the country, the purchasing power of a consumer has
            increased manifold. Richer the consumer is bigger is the worry to retain his assets and hence
            the need of security system. The present strength of the state force is not adequate to deal
            with the increasing requirements. In the recent general election the private security agencies
            has played a vital role and earned a fair amount of revenue for the govt.</li><br>
          <li>METRO brings the industry an international standard of services. We at METRO teach our staff
            that they are the eyes and ears of the client. The owners cannot watch everything round the
            clock. They rely on security to look after their interests at all times. A result oriented,
            highly motivated and a well trained guarding force has been generated by us and the credit for
            this goes to our managerial team who have an army & well disciplined background.</li><br>
          <li>Associates across the country can reach out to us through various mediums at no cost. The 24*7
            number manned by our skilled service reps provides resolution to associate queries. Associates
            can get on the go queries related to PF balance, salary, attendance resolved by sending a
            message on our Whatsapp no +91 9923552388. Alternatively, MetroCare, an android app, also
            addresses the concerns/queries of associates. This frees the client from addressing the day to
            day issues of outsourced manpower and allows them to focus on the core activities.</li><br>
          <li>Ability to customize solutions to address client’s special requirements Apart from the routine
            deliverables mentioned above, we have the capacity to customize solutions for our clients and
            manage end to end employee life cycle management which includes hiring, employee welfare
            activities (medical tests, events management, employee engagement activities, uniform and
            equipment management), training solutions, employee accommodation management, outplacement
            support etc. The customized solutions are totally dependent upon the volume of business being
            outsourced and the commercials pertaining to the same are not a part of the routine recruitment
            and payroll management services mentioned above.</li>

        </ul>
      </div>
    </div>
  </div>
</section>
