// .about-item{
//     border: 2px solid #eee;
//     border-radius: 0.5rem;
//   margin-bottom: 30px;
//   padding: 20px;
//   transition: all 0.3s ease 0s;
// }
// .about{
//     background-color: #f9f9fa;
// }
.border{
  border: 1px solid #dee2e6;
}
.border {
  height: 2px;
  margin: 20px auto 20px;
  position: relative;
  width: 80px;
  background: #28ABE3;
}

.statistic {
  box-shadow: 0px 5px 16px #b1b1b1;
  padding: 20px 20px;
  border-radius: 10px;
  background-color: #fff;
}
.statistic-icon{
  padding: 18px;
  height: 3.9rem;
}

.why-use-blog{
  border: 1px solid #ddd;
  padding: 30px 22px;
  border-radius: 11px;
  box-shadow: 5px 6px 5px #ddd;
  transition-duration: 0.5s;
  
  img{
      width: 2.9rem;
  }
  h5{
      font-size: 1.1rem;
      padding-top: 14px;
  }
  &:hover{
      box-shadow: 0 0 5px #ddd;
  }
}