<div id="carouselExampleIndicators" class="carousel slide  " data-ride="carousel">

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 " src="../../assets/images/banners/contactBanner.png" alt="First slide"
        style="height: 350px;">
      <div class="carousel-caption  d-md-block">
        <!-- <h5 class="animate__animated animate__fadeInDown"> At vero eos et accusamus</h5> -->
        <h2 class="animate__animated animate__fadeInUp spacingclass" style=" font-size: 32px;">Facility Management
          Services
        </h2>
        <p style="margin-bottom:56px;">India's growing facilility management service provider company </p>

      </div>
    </div>

  </div>
</div>
<div class="container">


  <section>

    <div class="row">

      <div class=" col-md-12 mb-4 mt-4">
        <div class="statistic">
          <h2 class="text-center text-primary">Housekeeping Services</h2>
          <p style="font-size:15px; font-family: Times New Roman, Times, serif;">Busy schedules make it difficult to
            find time to maintain a proper home. The best way to ensure your home is always clean and tidy is by hiring
            our team at METRO. Whether you need weekly, every other week, monthly, or occasional housekeeping
            services, our professionals will leave you feeling comfortable in and proud of your space.Here’s below what
            our
            housekeeping services include</p>

        </div>
      </div>

    </div>
    <!-- <h2 class="section-title text-primary heading mt-4">Housekeeping Services</h2> -->
    <div class="row">
      <div class=" col-md-4 mb-2">
        <div class="statistic">
          <img src="../../assets/images/servicesImage/industrial.jpg" class="w-100">

        </div>
      </div>
      <div class=" col-md-8 mb-2">
        <div class="statistic">
          <h2 class="text-center text-primary">Industrial Cleaning</h2>
          <p style="font-size:16px; font-family: Times New Roman, Times, serif;">Metro Facility Management provide
            Industrial cleaning services are
            specialized cleaning services for areas in industrial facilities, such as factories and manufacturing
            facilities, self-storage buildings, warehouses and power plants.Industrial cleaning is a challenging job
            performed at high-risk facilities that are responsible for meeting their own industry and safety
            regulations.This means that commercial cleaning companies offering industrial cleaning services ultimately
            help manufacturers, distribution centers and other facilities stay compliant.It’s all in the expertise of
            cleaning professionals, who are better prepared to meet the stringent cleaning, sanitation and safety
            demands of industrial commercial operations.
          </p>

        </div>
      </div>

    </div>
    <div class="row">
      <div class=" col-md-4 mb-2">
        <div class="statistic">
          <img src="../../assets/images/servicesImage/hospital.jpg" class="w-100">

        </div>
      </div>
      <div class=" col-md-8 mb-2">
        <div class="statistic">
          <h2 class="text-center text-primary">Hospital Cleaning</h2>
          <p style="font-size:16px; font-family: Times New Roman, Times, serif;">We work with leading public and private
            healthcare providers , carrying out a variety of clinical cleaning services.

            Our cleaners are trained to clean to standards maintain
            strict hygiene standards and to prevent the spread of infection in medical premises. We carry out daily
            weekly, monthly – we are here for you whenever
            you need us
            cleaning to GP, medical, dental, cosmetic and healthcare centres and surgeries, as well as veterinary
            centres, chiropractic clinics, holistic therapy centres and more. We are also able to provide specialist
            cleaning services for contamination and sanitation cleaning requirements, including Emergency Cleaning
            Services.

          </p>

        </div>
      </div>

    </div>
    <div class="row">
      <div class=" col-md-4 mb-2">
        <div class="statistic">
          <img src="../../assets/images/servicesImage/bank.jpg" class="w-100">

        </div>
      </div>
      <div class=" col-md-8 mb-2">
        <div class="statistic">
          <h2 class="text-center text-primary">Bank Cleaning</h2>
          <p style="font-size:15px; font-family: Times New Roman, Times, serif;">
            Protect your employees and guests from the spread of germs and bacteria in your facility with our bank and
            financial cleaning services. Metro Clean specializes in cleaning and disinfecting these types of
            facilities and understands that they have unique needs and require special attention. Our cleaning
            professionals will tour
            your facility and discuss your unique requirements and then customize a cleaning plan that perfectly
            accommodates your needs. We can work around your business hours to avoid disrupting your clients, and we’ll
            schedule our services at a frequency that you prefer. Daily, weekly, monthly – we are here for you whenever
            you need us.Our expert bank cleaning team has industry-specific experience .</p>

        </div>
      </div>

    </div>
    <div class="row">
      <div class=" col-md-4 mb-2">
        <div class="statistic">
          <img src="../../assets/images/servicesImage/office.jpg" class="w-100">

        </div>
      </div>
      <div class=" col-md-8 mb-2">
        <div class="statistic">
          <h2 class="text-center text-primary">Office Cleaning</h2>
          <p style="font-size:15px; font-family: Times New Roman, Times, serif;">We understand the importance of
            building strong customer relationship
            We have established the industry’s highest standards of performance to ensure you consistently benefit from
            the best levels of office cleaning services in the business. With Metro Clean, you have a true
            partner. We keep the lines of communication open and respond to your concerns or questions whenever you need
            us.Whether your space is large or small, metro Clean professionals can transform your dirty office
            into an immaculate space that boosts employee productivity and morale.Our office cleaning specialists use
            industry-standard cleaning methods and products to deliver a deep clean that really shines. From lobbies,
            offices, open office spaces, kitchens, conference rooms and more, we clean it all.</p>

        </div>
      </div>

    </div>
    <div class="row">
      <div class=" col-md-4 mb-2">
        <div class="statistic">
          <img src="assets/images/banners/h7.jpg" class="w-100">

        </div>
      </div>
      <div class=" col-md-8 mb-2">
        <div class="statistic">
          <h2 class="text-center text-primary">Multiplex Cleaning</h2>
          <p style="font-size:15px; font-family: Times New Roman, Times, serif;">Metro Facility provide multiplex
            service specialized in offering a wide range of high quality domestic and deep cleaning services with
            most-awaited solutions and best certified products. We have a highly trained team of cleaning staff, of both
            females and males to serve you in all types of Residential properties, Offices and Showrooms, Shops and
            Warehouses, Schools and Colleges, Hospitals and Clinics, Showrooms and Restaurants, Hotels and Buildings in
            With Metro facilility services Clean, you have a true
            partner. We keep the lines of communication open and respond to your concerns or questions whenever you need
            us and we’ll
            schedule our services at a frequency that you prefer. Daily, weekly, monthly</p>

        </div>
      </div>

    </div>
    <div class="row">
      <div class=" col-md-4 mb-2">
        <div class="statistic">
          <img src="assets/images/banners/h4.jpg" class="w-100">

        </div>
      </div>
      <div class=" col-md-8 mb-2">
        <div class="statistic">
          <h2 class="text-center text-primary">Deep Cleaning Services</h2>
          <p style="font-size:15px; font-family: Times New Roman, Times, serif;">Our cleaning professionals will tour
            your facility and discuss your unique requirements and then customize a cleaning plan that perfectly
            accommodates your needs. We can work around your business hours to avoid disrupting your clients, and we’ll
            schedule our services at a frequency that you prefer. Daily, weekly, monthly – we are here for you whenever
            you need us. We keep the lines of communication open and respond to your concerns or questions whenever you
            need
            us and we’ll
            schedule our services at a frequency that you prefer. Daily, weekly, monthly.You can choose you services
            according to your need, time and availibity an schedule your service whenever
            you require.</p>

        </div>
      </div>

    </div>
  </section>
</div>

<div class="container">

  <section>

    <div class="row">

      <div class=" col-md-12 mb-4 mt-4">
        <div class="statistic">
          <h2 class="text-center text-primary">Pest Control Services</h2>
          <p style="font-size:15px; font-family: Times New Roman, Times, serif;">Metro Facility service have great
            experience in
            eliminating pests from your organization. Other than this, the experts do it in a productive way without
            hurting you or your relatives. While you may be enticed to do it all alone, however, to be honest, we, the
            professional pest control organization can give you genuine feelings of serenity and real security..</p>

        </div>
      </div>

    </div>

    <div class="row">
      <div class=" col-md-4 mb-2">
        <div class="statistic">
          <img src="../../assets/images/servicesImage/termite.jpg" class="w-100">

        </div>
      </div>
      <div class=" col-md-8 mb-2">
        <div class="statistic">
          <h2 class="text-center text-primary">Termite Control Service</h2>
          <p style="font-size:15px; font-family: Times New Roman, Times, serif;">Termites are a group of insect that
            mostly feed on dead plant materials, with the ability to digest cellulose. Subterranean termites, the most
            destructive wooden pest in the world, build their colonies in the soil and usually work their way above
            ground to reach wood or any other cellulose source. In search for food, subterranean termites will forage
            into homes from below the ground level right up to the highest point of the roof thrust. Over time, termite
            damage can become significant on door frames, kitchen cabinets, staircase and wooden flooring.
            A termite infestation and damage can be devastating to your home or property. Termites are often called the
            “silent destroyer” because they may be secretly hiding and thriving in your home </p>

        </div>
      </div>

    </div>
    <div class="row">
      <div class=" col-md-4 mb-2">
        <div class="statistic">
          <img src="../../assets/images/servicesImage/generalPest.jpg" class="w-100">

        </div>
      </div>
      <div class=" col-md-8 mb-2">
        <div class="statistic">
          <h2 class="text-center text-primary">General Pest Control </h2>
          <p style="font-size:15px; font-family: Times New Roman, Times, serif;"> General Pest ControlPest management is
            a process by which
            the pest population is maintained below thresh hold limits so that economic losses can be prevented.

            Integrated pest management (IPM), also known as Integrated Pest Control (IPC) is a broad-based approach that
            integrates practices for economic control of pests. IPM aims to suppress pest populations below the economic
            injury level (EIL). The UN's Food and Agriculture Organisation defines IPM as "the careful consideration of
            all available pest control techniques and subsequent integration of appropriate measures that discourage the
            development of pest populations and keep pesticides and other interventions to levels that are economically
            justified .</p>

        </div>
      </div>

    </div>
    <div class="row">
      <div class=" col-md-4 mb-2">
        <div class="statistic">
          <img src="../../assets/images/servicesImage/Sanitation & Disinfection.jpg" class="w-100">

        </div>
      </div>
      <div class=" col-md-8 mb-2">
        <div class="statistic">
          <h2 class="text-center text-primary">Sanitation & Disinfection </h2>
          <p style="font-size:15px; font-family: Times New Roman, Times, serif;">Metro Facility Management is
            professional Sanitation & DisinfectionSanitation & DisinfectionCleaning with a household cleaner that
            contains soap or detergent reduces the amount of germs on surfaces and decreases risk of infection from
            surfaces. In most situations, cleaning alone removes most virus particles on surfaces. Disinfection to
            reduce transmission of COVID-19 at home is likely not needed unless someone in your home is sick or if
            someone .
            Disinfecting kills any remaining germs on surfaces and reduces the spread of germs.we’ll
            schedule our services at a frequency that you prefer. Daily, weekly, monthly.You can choose you services
            according to your need, time and availibity an schedule your service whenever
            you require</p>

        </div>
      </div>

    </div>
    <div class="row">
      <div class=" col-md-4 mb-2">
        <div class="statistic">
          <img src="../../assets/images/servicesImage/Rodent Control.jpg" class="w-100">

        </div>
      </div>
      <div class=" col-md-8 mb-2">
        <div class="statistic">
          <h2 class="text-center text-primary">Rodent Control </h2>
          <p style="font-size:15px; font-family: Times New Roman, Times, serif;">Rodents are a group of nuisance pests
            that includes mice, rats, and squirrels. These animals can contaminate food, damage property, and spread
            disease.

            Rats cause a lot of damage. As the teeth of rodents continue to grow over their lifetime, they need to gnaw
            on hard substances such as lead and plastic pipes, insulation material and electric wiring. This habit
            increases the risk of short circuits and fires. In addition to this, they transmit a number of dangerous
            diseases such as Salmonella, Leptospirosis (Weil's disease), Tuberculosis and even tape worms.It is
            extremely serious if rats are getting into your home even if they are not entering a direct living area. Any
            rat problem inside the home must be treated urgently.</p>

        </div>
      </div>

    </div>
    <div class="row">
      <div class=" col-md-4 mb-2">
        <div class="statistic">
          <img src="../../assets/images/servicesImage/Fumigation Service.jpg" class="w-100">

        </div>
      </div>
      <div class=" col-md-8 mb-2">
        <div class="statistic">
          <h2 class="text-center text-primary">Fumigation Service</h2>
          <p style="font-size:15px; font-family: Times New Roman, Times, serif;"> Metro Facility Sevices provide
            Fumigation Pest Control serice
            Fumigation is a technique of pest
            control that fully fills an area with gaseous insecticides and pesticides. Fumigation is normally used to
            suffocate or poison pests within a building (structural fumigation) grain, soil and produce. It is also used
            during the processing of properties to be exported or imported to avert transfer of exotic pests.for both
            commercial and residential structures take care of a broad range of pests like cockroaches, fleas, flies,
            ticks, bedbugs, termites, ants, and other pests. It is important that the premises to be treated several
            times in a year to protect your home or business from these pests Fumigation is very essential for both
            commercial and residential areas..</p>

        </div>
      </div>

    </div>
    <!-- <div class="row">
      <div class=" col-md-4 mb-2">
        <div class="statistic">
          <img src="assets/images/banners/h5.png" class="w-100">

        </div>
      </div>
      <div class=" col-md-8">
        <div class="statistic">
          <h2 class="text-center text-primary">Metro Facility Management</h2>
          <p style="font-size:15px; font-family: Times New Roman, Times, serif;">Metro Facility Management is
            professional in HR Solution As Staffing, Housekeeping, Security solution and project management etc. Our
            leadership qualities and innovative ideas guided by professional in aforesaid fields. METRO to realize that
            constant changes are the only step forward toward the future. METRO have approved standard of ISO 9001-2008.
            METRO provide highest quality manpower services to all our esteemed clients to fit in all circumstances and
            within budgets. METRO vision is to provide security with cutting edge protection and loss prevention
            services, which is unique in the field of private security organization. It has been our endeavor to be
            innovative productive, positive and quality conscious so that we effectively secure tomorrow today.</p>

        </div>
      </div>

    </div> -->
  </section>
</div>

<div class="container">
  <section>
    <div class="row">

      <div class=" col-md-12 mb-4 mt-4">
        <div class="statistic">
          <h2 class="text-center text-primary">Security Services</h2>
          <p style="font-size:15px; font-family: Times New Roman, Times, serif;">Metro Facility Management provide
            Security Services Metro prove numbaer of security. They are Physical Security,Survellience ,Protection Force
            and Bouncer Force.
            Our highly trained physical security team is composed of certified security specialists whose training and
            professionalism are your guarantee of safety in all circumstances.</p>

        </div>
      </div>

    </div>

    <!-- <h2 class="section-title text-primary heading mt-4">Security Services</h2> -->
    <div class="row">
      <div class=" col-md-4 mb-2">
        <div class="statistic">
          <img src="../../assets/images/servicesImage/Physical Security.jpg" class="w-100">

        </div>
      </div>
      <div class=" col-md-8 mb-2">
        <div class="statistic">
          <h2 class="text-center text-primary">Physical Security</h2>
          <p style="font-size:15px; font-family: Times New Roman, Times, serif;">Physical security involves the use of
            multiple layers of interdependent systems that can include CCTV surveillance, security guards, protective
            barriers, locks, access control, perimeter intrusion detection, deterrent systems, fire protection, and
            other systems designed to protect persons and property.What are examples of physical security?
            Image result for physical security services
            Sensors, alarms, and automatic notifications are all examples of physical security detection. 3. Delay –
            There are certain security systems that are designed to slow intruders down as they attempt to enter a
            facility or building. Access control, such as requiring a key card or mobile credential, is one method of
            delay.</p>

        </div>
      </div>

    </div>
    <div class="row">
      <div class=" col-md-4 mb-2">
        <div class="statistic">
          <img src="../../assets/images/servicesImage/Survellience.jpg" class="w-100">

        </div>
      </div>
      <div class=" col-md-8 mb-2">
        <div class="statistic">
          <h2 class="text-center text-primary">Survellience</h2>
          <p style="font-size:15px; font-family: Times New Roman, Times, serif;">Metro Facility Management Provide
            Surveillance security
            which used to
            is the monitoring of behavior, many activities, or information for the purpose of information gathering,
            influencing, managing or directing.This can include observation from a distance by means of
            electronic equipment, such as closed-circuit television (CCTV), or interception of electronically
            transmitted information like Internet traffic. It can also include simple technical methods, such as human
            intelligence gathering and postal interception.Surveillance is used by citizens for protecting their
            neighborhoods. And by governments for intelligence gathering - including espionage, prevention of crime,.
          </p>

        </div>
      </div>

    </div>
    <div class="row">
      <div class=" col-md-4 mb-2">
        <div class="statistic">
          <img src="../../assets/images/servicesImage/Protection Force.jpg" class="w-100">

        </div>
      </div>
      <div class=" col-md-8 mb-2">
        <div class="statistic">
          <h2 class="text-center text-primary">Protection Force</h2>
          <p style="font-size:15px; font-family: Times New Roman, Times, serif;">Metro Facility Management is
            professional in HR Solution As Staffing, Housekeeping, Security solution and project management etc. Our
            leadership qualities and innovative ideas guided by professional in aforesaid fields. METRO to realize that
            constant changes are the only step forward toward the future. METRO have approved standard of ISO 9001-2008.
            METRO provide highest quality manpower services to all our esteemed clients to fit in all circumstances and
            within budgets. METRO vision is to provide security with cutting edge protection and loss prevention
            services, which is unique in the field of private security organization. It has been our endeavor to be
            innovative productive, positive and quality conscious so that we effectively secure tomorrow today..
          </p>

        </div>
      </div>

    </div>
    <div class="row">
      <div class=" col-md-4 mb-2">
        <div class="statistic">
          <img src="../../assets/images/servicesImage/Bouncer Force.jpg" class="w-100">

        </div>
      </div>
      <div class=" col-md-8 mb-2">
        <div class="statistic">
          <h2 class="text-center text-primary">Bouncer Force</h2>
          <p style="font-size:15px; font-family: Times New Roman, Times, serif;">Metro Facility Management
            provide quality security personnel at anywhere with a short notice of 12-15 hours. We have complete
            verification process before we hire and deploy the best possible security personnel such as bouncers, PSOs,
            armed gunmen. Every function requires protection – . We have experienced bouncers for such requirements that
            take complete responsibility for managing
            security and safety at such functions. The pricing offered by us is very competitive and can be customized
            to meet your needs. There are many so called security companies that are not functioning professionally.We
            at Denetim Services promise professional security and guaranteed safety at all times during are deployment
            at the venue of your event..
          </p>

        </div>
      </div>

    </div>
    <div class="row">
      <div class=" col-md-4 mb-2">
        <div class="statistic">
          <img src="../../assets/images/servicesImage/Cash Management Service.jpg" class="w-100">

        </div>
      </div>
      <div class=" col-md-8 mb">
        <div class="statistic">
          <h2 class="text-center text-primary">Cash Management Service</h2>
          <p style="font-size:15px; font-family: Times New Roman, Times, serif;">Metro Facility Management provide Cash
            management is the process of managing cash inflows and outflows. There are many cash management
            considerations and solutions available in the financial marketplace for both individuals and businesses. For
            businesses, the cash flow statement is a central component of cash flow management.What is cash management
            process?
            Cash management, also known as treasury management, is the process that involves collecting and managing
            cash flows from the operating, investing, and financing activities of a company. In business, it is a key
            aspect of an organization's financial stability.Metro have best Cash Management Service </p>

        </div>
      </div>

    </div>
    <!-- <div class="row">
      <div class=" col-md-4 mb-2">
        <div class="statistic">
          <img src="assets/images/banners/h5.png" class="w-100">

        </div>
      </div>
      <div class=" col-md-8">
        <div class="statistic">
          <h2 class="text-center text-primary">Metro Facility Management</h2>
          <p style="font-size:15px; font-family: Times New Roman, Times, serif;">Metro Facility Management is
            professional in HR Solution As Staffing, Housekeeping, Security solution and project management etc. Our
            leadership qualities and innovative ideas guided by professional in aforesaid fields. METRO to realize that
            constant changes are the only step forward toward the future. METRO have approved standard of ISO 9001-2008.
            METRO provide highest quality manpower services to all our esteemed clients to fit in all circumstances and
            within budgets. METRO vision is to provide security with cutting edge protection and loss prevention
            services, which is unique in the field of private security organization. It has been our endeavor to be
            innovative productive, positive and quality conscious so that we effectively secure tomorrow today.</p>

        </div>
      </div>

    </div> -->
  </section>
</div>

<div class="container">
  <section>

    <div class="row">

      <div class=" col-md-12 mb-4 mt-4">
        <div class="statistic">
          <h2 class="text-center text-primary">Staffing Services</h2>
          <p style="font-size:15px; font-family: Times New Roman, Times, serif;">Metro Facility Management provide
            staffing
            agency is an entity whose representatives can be hired for non-permanent or long-term jobs. A Metro
            is an organization whose primary purpose is to provide human resources to other industries according to the
            industrial need</p>

        </div>
      </div>

    </div>
    <!-- <h2 class="section-title text-primary heading mt-4">Staffing Services</h2> -->
    <div class="row">
      <div class=" col-md-4 mb-2">
        <div class="statistic">
          <img src="../../assets/images/servicesImage/IT Professionals.jpg" class="w-100">

        </div>
      </div>
      <div class=" col-md-8 mb-2">
        <div class="statistic">
          <h2 class="text-center text-primary">IT Professionals</h2>
          <p style="font-size:15px; font-family: Times New Roman, Times, serif;">Metro Facility Management is
            professional in HR Solution As Staffing, Our
            leadership qualities and innovative ideas guided by professional in aforesaid fields. METRO to realize that
            constant changes are the only step forward toward the future. METRO have approved standard of ISO 9001-2008.
            METRO provide highest quality manpower services to all our esteemed clients to fit in all circumstances and
            within budgets. METRO vision is to provide security with cutting edge protection and loss prevention
            services, which is unique in the field of private security organization. It has been our endeavor to be
            innovative productive, positive and quality conscious so that we effectively secure tomorrow today.</p>

        </div>
      </div>

    </div>
    <div class="row">
      <div class=" col-md-4 mb-2">
        <div class="statistic">
          <img src="../../assets/images/servicesImage/Data Entry Operators.jpg" class="w-100">

        </div>
      </div>
      <div class=" col-md-8 mb-2">
        <div class="statistic">
          <h2 class="text-center text-primary">Data Entry Operators</h2>
          <p style="font-size:15px; font-family: Times New Roman, Times, serif;">Metro Facility Management is
            professional in HR Solution As Staffing, and provide staff for Online data entry services refer to the entry
            of all the data and the records manually in the web or cloud-based software system with the help of secure,
            accurate, and reliable methods while maintaining a strict security protocol.In brief, data entry is the work
            of entering a specific type of data into computer or any other electronic device using specific software.
            A Data Entry role involves entering data from various sources into the company computer system for
            processing and management. A candidate working in data entry will need to efficiently manage a large amount
            of information that is often sensitive or confidential.
          </p>

        </div>
      </div>

    </div>
    <div class="row">
      <div class=" col-md-4 mb-2">
        <div class="statistic">
          <img src="../../assets/images/servicesImage/Sales Executive.jpg" class="w-100">

        </div>
      </div>
      <div class=" col-md-8 mb-2">
        <div class="statistic">
          <h2 class="text-center text-primary">Sales Executive</h2>
          <p style="font-size:15px; font-family: Times New Roman, Times, serif;">Metro Facility Management is
            professional in HR Solution As Staffing, prove sales executive.A sales executive is responsible for helping
            build up a business by identifying new business prospects and selling product to them. They must maintain
            relationships with current clients and build and maintain relationships with new clients.Setting sales goals
            and developing sales strategies.
            Researching prospects and generating leads.
            Contacting potential and existing customers on the phone, by email, and in person.
            Handling customer questions, inquiries, and complaints.
            Preparing and sending quotes and proposals.Managing the sales process through specific software programs.
            Building and maintaining a CRM database.
            Meeting daily, weekly, and monthly sales targets.</p>

        </div>
      </div>

    </div>
    <div class="row">
      <div class=" col-md-4 mb-2">
        <div class="statistic">
          <img src="../../assets/images/servicesImage/Management Team.jpg" class="w-100">

        </div>
      </div>
      <div class=" col-md-8 mb-2">
        <div class="statistic">
          <h2 class="text-center text-primary">Management Team</h2>
          <p style="font-size:15px; font-family: Times New Roman, Times, serif;">Metro Facility Management is
            professional in Management to prove management team according to your budget.The team manager oversees
            everything her team does and provides upper management with a summary of the team’s development. For
            example, if your business has a night shift team, the team manager’s role would be to supervise the team
            during their shift and report the progress of operations to you on a regular basis.One of the key
            responsibilities of a team manager is to remove any barriers that keep the team from completing their tasks.
            Team members may have conflicts with one another regarding business activities, and it’s the role of the
            team manager to help employees resolve their issues</p>

        </div>
      </div>

    </div>
    <div class="row">
      <div class=" col-md-4 mb-2">
        <div class="statistic">
          <img src="../../assets/images/servicesImage/emp.jpg" class="w-100">

        </div>
      </div>
      <div class=" col-md-8 mb-2">
        <div class="statistic">
          <h2 class="text-center text-primary">Skilled, Semiskilled, Highly Skilled Employee</h2>
          <p style="font-size:15px; font-family: Times New Roman, Times, serif;">Metro Facility services provide staff
            , in killed, Semiskilled, Highly Skilled Employee. An unskilled
            employee is one who does operations that involve the performance of simple duties, which require the
            experience of little of no independent judgment or previous experience ,A semiskilled worker is one who does
            work generally of defined routine nature wherein the major requirement is not so much of the judgment, skill
            and but for proper discharge of duties assigned to him or relatively narrow job and where important
            decisions made by others. skilled employee is one who is capable of working efficiently of exercising
            considerable independent judgement and A highly skilled worker is one who is capable of working efficiently
            and supervises efficiently the work of skilled employees</p>

        </div>
      </div>

    </div>

  </section>
</div>

<div class="container">
  <section>
    <div class="row">

      <div class=" col-md-12 mb-4 mt-4">
        <div class="statistic">
          <h2 class="text-center text-primary">Project Management Services</h2>
          <p style="font-size:15px; font-family: Times New Roman, Times, serif;">Metro Facility Management provide
            Project management services specialize in planning, coordinating, and executing projects according to
            specific requirements and constraints. They perform some or all of the activities related to project work,
            from conceptualization to completion..</p>

        </div>
      </div>

    </div>

    <!-- <h2 class="section-title text-primary heading mt-4">Project Management Services</h2> -->
    <div class="row">
      <div class=" col-md-4 mb-2">
        <div class="statistic">
          <img src="../../assets/images/servicesImage/Gardening Service.jpg" class="w-100">

        </div>
      </div>
      <div class=" col-md-8 mb-2">
        <div class="statistic">
          <h2 class="text-center text-primary">Gardening Service</h2>
          <p style="font-size:15px; font-family: Times New Roman, Times, serif;">Metro Facility Management provide
            gardening service staff
            We are offering Garden Consultancy can be used to grow ornamental or edible plants in a small space. They
            are ideal for attaching to the walls of balconies, courtyards or fences to provide growing spaces for a
            wide.Garden Services provides full & comprehensive services in irrigation, landscape, maintenance and
            professional tree care management.gardening, the laying out and care of a plot of ground devoted partially
            or wholly to the growing of plants such as flowers, herbs, or vegetables.Garden maintenance generally
            includes lawn mowing and edging, weeding, trimming, and pruning and the clearing up of leaves
          </p>

        </div>
      </div>

    </div>
    <div class="row">
      <div class=" col-md-4 mb-2">
        <div class="statistic">
          <img src="../../assets/images/servicesImage/Electrician Service.jpg" class="w-100">

        </div>
      </div>
      <div class=" col-md-8 mb-2">
        <div class="statistic">
          <h2 class="text-center text-primary">Electrician Service</h2>
          <p style="font-size:15px; font-family: Times New Roman, Times, serif;">Metro Facility Management is
            professional electrical service as the part of the installation from the utility point of connection to the
            first over-current device, usually the main circuit breaker. (Fuses are permitted but have been largely
            supplanted by circuit breakers.).Hubs Utility & Building Services provides Electrification services to both,
            domestic and commercial sector. Whether you require a small repair or large construction, communication, or
            maintenance services, we offer stringent quality services for all you electrification issue. Knowing that
            our people are our pillars, we have the most sophisticated and learned staff that is aware of all the nitty
            gritties of electrical work you cab book your service according to your scheduled time, we provide all type
            of services in metro facilility service management</p>

        </div>
      </div>

    </div>
    <div class="row">
      <div class=" col-md-4 mb-2">
        <div class="statistic">
          <img src="../../assets/images/servicesImage/Plumbing Service.jpg" class="w-100">

        </div>
      </div>
      <div class=" col-md-8 mb-2">
        <div class="statistic">
          <h2 class="text-center text-primary">Plumbing Service</h2>
          <p style="font-size:15px; font-family: Times New Roman, Times, serif;">Metro Facility Management is
            professional project management in Plumbing Service. Plumbing services is the whole system of piping,
            fixtures, applications for providing water supply or drainage to the buildings with the use of pipes,
            control valves, pipe layouts, storage tanks, etc.Good plumbing will help make sure that there are air gaps,
            physical separations, and adherence to building codes that separate connections of waste and clean water
            plumbing elements. Regular plumbing maintenance can prevent cross-contamination, hence keeping the water in
            your home clean and safe at all times. because
            it's always a good idea to hire a professional. For example, you could always try to do it yourself plumbing
            for simple problems like faucets that drip water, pipes that leak liquid.</p>

        </div>
      </div>

    </div>

  </section>
</div>
