 .bannerImg{
    height: 500px;
    }
    .heading{
        margin-left: 477px;
    }

    .statistic {
        //  height: 220px;
        box-shadow: 0px 5px 16px #b1b1b1;
        padding: 20px 20px;
        border-radius: 10px;
        background-color: #fff;


    }

    // .statistic img{
    //     height: 180px;
    // }
  

    .why-use-blog{
        border: 1px solid #ddd;
        padding: 30px 22px;
        border-radius: 11px;
        box-shadow: 5px 6px 5px #ddd;
        transition-duration: 0.5s;
        
        img{
            width: 2.9rem;
        }
        h5{
            font-size: 1.1rem;
            padding-top: 14px;
        }
        &:hover{
            box-shadow: 0 0 5px #ddd;
        }
    }
    
    @media screen and (max-width: 574px) {
       .spacingclass {
        margin-top: 50px;
        }

    }