// .contact{
//    margin-top: 200px;
// }
.contact .detail-area {
    color: #444444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    background: #fff;
  }
  .contact .detail-area i {
    font-size: 32px;
    color:  rgb(50, 208, 248);
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #fff7e5;
  }
  .contact .detail-area h3 {
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
  }
  .contact .detail-area p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  .contact .contact-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    background: #fff;
  }
  .contact .contact-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
 
 .contact .contact-form input, .contact .contact-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
 
  .contact .contact-form input {
    padding: 10px 15px;
  }
  .contact .contact-form textarea {
    padding: 12px 15px;
  }
  img{
    width: 2.9rem;
}
.border{
  border: 1px solid #dee2e6;
}
.border {
  height: 2px;
  margin: 20px auto 20px;
  position: relative;
  width: 80px;
  background: #28ABE3;
}
  
 