<!-- ======= New Contact Section ======= -->
<!-- <section class="py-lg-3 mt-2">
  <div class="banner bn">
    <img src="../../assets/images/banners/abtBanner.png" class="w-100" style="height:350px">
  </div>
</section> -->

<div id="carouselExampleIndicators" class="carousel slide  mt-5 " data-ride="carousel">

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 " src="../../assets/images/banners/abtBanner.png" alt="First slide"
        style="height: 350px;">
      <div class="carousel-caption  d-md-block">
        <!-- <h5 class="animate__animated animate__fadeInDown"> At vero eos et accusamus</h5> -->
        <h2 class="animate__animated animate__fadeInUp" style=" font-size: 32px;">Contact Us
        </h2>
        <p style="margin-bottom:124px;">Implements professional work schedules with METRO.</p>

      </div>
    </div>

  </div>
</div>
<section id="contact" class="contact section-bg mt-4">
  <div class="container">
    <div class="col-12">
      <div class="title text-center">
        <h2>Get In Touch</h2>
        Provides 24/7 oversight and supervision through our team of Operations Managers and Regional Executive
        Directors. <div class="border"></div>
      </div>
    </div>
    <div class="row mt-4">

      <div class="col-lg-6 mb-2">

        <div class="row ">
          <div class="col-md-12">
            <div class="detail-area">
              <!-- <i class="fa fa-map-marker" aria-hidden="true"></i> -->
              <!-- <i class="tf-ion-ios-lovation-outline"></i> -->
              <img src="assets/images/banners/si5.png" alt="">
              <h3>Our Address</h3>
              <p> Regd. Off.: B3, Sai Sidhhesh Complex, <br>
                Raghuji Nagar, Sakkardara<br>
                Nagpur – 440023. India</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="detail-area mt-4">
              <img src="assets/images/banners/mailLogo.png" alt="">
              <h3>Email Us</h3>
              <p>Email: metro_hr@hotmail.com<br>Website: www.metro.in</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="detail-area mt-4">

              <img src="assets/images/banners/mobileLogo.png" alt="">
              <i class=""></i>
              <h3>Call Us</h3>
              <p>+91 7972473955 , 9923552388 <br>Tel.: +91 712-2750473</p>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-6 mt-4 mt-lg-0">
        <form a method="post" role="form" class="contact-form w-100" data-aos="fade-up">
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
            </div>
          </div>
          <div class="form-group mt-3">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
          </div>
          <div class="form-group mt-3">
            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
          </div>

          <div class="text-center "><button type="submit" class="bg-primary mt-3">Send Message</button></div>
        </form>
      </div>

    </div>

  </div>
</section>
<!-- End Contact Section -->
