<!-- <div class="banner">
	<div class="container">
		<div class="row">
			<div class="col-md-5 banner-text">
				<div class="search-banner mt-5">
					<h2> Learn from the best tutors of your choice. Today! </h2>
					<mat-form-field appearance="outline" class="w-100">
						<mat-label>What do you want to learn?</mat-label>
						<input matInput placeholder="Ex: Maths or Piano or Painting">
						<mat-icon matSuffix>search</mat-icon>
					  </mat-form-field>
					  <mat-form-field appearance="outline" class="w-100">
						<mat-label>Type your location</mat-label>
						<input matInput placeholder=" ">
						<mat-icon matSuffix>location_on</mat-icon>
					  </mat-form-field>
					  <button mat-flat-button color="primary" class="w-100"> Find the best tutors </button>
					
				</div>
				
			</div>
			<div class="col-md-6 offset-lg-1">
				<img src="assets/images/b2.png" alt="" class="w-100">
			</div>
			
		</div>
	</div>
</div>
<svg viewBox="0 0 1440 180">
	<path fill="#34f5f514" fill-opacity="1" d="M0,96L120,112C240,128,480,160,720,160C960,160,1200,128,1320,112L1440,96L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path>
  </svg> -->

<!--<div id="myCarousel" class="carousel slide " data-bs-ride="carousel">
    <!-- Carousel indicators --
    <ol class="carousel-indicators">
      <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
      <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
    </ol>

    <!-- Wrapper for carousel items --
    <div class="carousel-inner carousel-fade">
      <div class=" carousel-item active">
        <img src="../../assets/images/b3.jpeg" class="d-block w-100" alt="Slide 1">

        <div class="carousel-caption d-none d-md-block">
          <h5 class="animate__animated animate__fadeInDown"> At vero eos et accusamus</h5>
          <h2 class="animate__animated animate__fadeInUp">Helping Business Security & Peace of Mind for Your Family.
          </h2>
          <a href="#home" class="btn btn-primary scrollto animate__animated animate__fadeInUp">Get Started</a>
        </div>

      </div>
      <div class="carousel-item active">
        <img src="../../assets/images/b4.jpeg" class="d-block w-100" alt="Slide 2">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="animate__animated animate__fadeInDown"> At vero eos et accusamus</h5>
          <h2 class="animate__animated animate__fadeInUp">Helping Business Security & Peace of Mind for Your Family.
          </h2>
          <a href="#home" class="btn btn-primary scrollto animate__animated animate__fadeInUp">Get Started</a>
        </div>
      </div>
      <div class="carousel-item active">
        <img src="../../assets/images/b5.jpeg" class="d-block w-100" alt="Slide 3">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="animate__animated animate__fadeInDown"> At vero eos et accusamus</h5>
          <h2 class="animate__animated animate__fadeInUp">Helping Business Security & Peace of Mind for Your Family.
          </h2>
          <a href="#home" class="btn btn-primary scrollto animate__animated animate__fadeInUp">Get Started</a>
        </div>


      </div>
    </div>

    <!-- Carousel controls --
    <a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
</div>-->

<div id="carouselExampleIndicators" class="carousel slide mt-5 pt-2 " data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/images/b3.jpeg" alt="First slide">
      <div class="carousel-caption d-md-block">
        <!-- <h5 class="animate__animated animate__fadeInDown"> At vero eos et accusamus</h5> -->
        <h2 class="animate__animated animate__fadeInUp">Housekeeping
        </h2>
        <h1>A live in housekeeper is a very popular type of housekeeping services</h1>
        <a href="#home" class="btn btn-primary scrollto animate__animated animate__fadeInUp"
          style="margin-bottom: 250px;">Get Started</a>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/images/b4.jpeg" alt="Second slide">
      <div class="carousel-caption d-md-block">
        <!-- <h5 class="animate__animated animate__fadeInDown"> At vero eos et accusamus</h5> -->
        <h2 class="animate__animated animate__fadeInUp">Security Service

        </h2>
        <h1>It is rendered by groups that provide security services </h1>
        <a href="#home" class="btn btn-primary scrollto animate__animated animate__fadeInUp"
          style="margin-bottom: 250px;">Get Started</a>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/images/b5.jpeg" alt="Third slide">
      <div class="carousel-caption d-md-block">
        <!-- <h5 class="animate__animated animate__fadeInDown"> At vero eos et accusamus</h5> -->
        <h2 class="animate__animated animate__fadeInUp">Manpower
        </h2>
        <h1>Window cleaning, chimney sweeping, chewing gum removal, graffiti removal, and many more</h1>
        <a href="#home" class="btn btn-primary scrollto animate__animated animate__fadeInUp"
          style="margin-bottom: 250px;">Get Started</a>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
