
// .banner{
// 	background-color: #34f5f514;
//     background-repeat: no-repeat;
//     background-attachment: scroll;
//     background-position: center center;
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//     background-size: cover;
//     height: 450px;
//     padding-top: 130px;
// }
// .search-banner {
//     background: #fff;
//     padding: 20px;
//     border-radius: 9px;
//     border: 1px solid #a7f7f7;
// }
// .carousel-caption{
//     color: white;
//     margin-bottom: 200px;
  
//   }
//   .carousel-inner .carousel-item img{
//     background: rgba(6, 221, 13,)
//   }
@media (min-width: 310px) and (max-width: 470px){
    .carousel-item img{
         height: 300px;
    }
}
