<section class="section-padding ">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mb-4">
        <h2 class="section-title text-primary">Our Service</h2>
      </div>
      <div class="col-md-5 mb-2 our">
        <img src="assets/images/banners/os1.jpg" class="w-100"  alt="">
      </div>
      <div class="col-md-7">
        <div class="row service">
          <div class="col-md-6 mb-4">
            <div class="why-use-blog text-center">
              <img src="assets/images/banners/si5.png" alt="">
              <h5>Housekeeping</h5>
              <p>You can discuss your need with tutor, because every child is different</p>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="why-use-blog text-center">
              <img src="assets/images/banners/si7.png" alt="">
              <h5>Security Service</h5>
              <p>You can discuss your need with tutor, because every child is different</p>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="why-use-blog text-center">
              <img src="assets/images/banners/si4.png" alt="">
              <h5>Manpower</h5>
              <p>You can discuss your need with tutor, because every child is different</p>
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="why-use-blog text-center">
              <img src="assets/images/banners/si6.jpg" alt="">
              <h5>Pest Control</h5>
              <p>You can discuss your need with tutor, because every child is different</p>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>
