.why-use-blog{
    border: 1px solid #ddd;
    padding: 30px 22px;
    border-radius: 11px;
    box-shadow: 5px 6px 5px #ddd;
    transition-duration: 0.5s;
    
    img{
        width: 2.9rem;
    }
    h5{
        font-size: 1.1rem;
        padding-top: 14px;
    }
    &:hover{
        box-shadow: 0 0 5px #ddd;
    }
}
.our img{
    height: 420px;
}
@media (min-width: 310px) and (max-width: 470px){
    .our img{
        height: 300px;
    }
}
