<section class="section-padding bg-sky bg-class-img">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-title text-primary">
          Testimonial
        </h2>
      </div>
      <div class="col-md-9 m-auto">
        <div class="top-tutors">
          <div id="tutorVideo" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#tutorVideo" data-slide-to="0" class="active"></li>
              <li data-target="#tutorVideo" data-slide-to="1"></li>
              <li data-target="#tutorVideo" data-slide-to="2"></li>
              <li data-target="#tutorVideo" data-slide-to="3"></li>
            </ul>
            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="tutor-blog">
                  <img src="assets/images/tutors/t4.jpg" alt="">
                  <div class="tutor-read">
                    <div class="testimonial-msg-card">
                      <div class="testimonial-msg-card-txt">" Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry"</div>
                      <div class="testimonial-msg-card-name">John Dey</div>
                      <div class="testimonial-msg-card-desc">Dolorum tempora</div>
                      <!-- <a class="testimonial-msg-card-see-story hide-in-mobile" href="#" target="_blank">
                                          Read Teachers' Story &gt;
                                        </a> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="tutor-blog">
                  <img src="assets/images/tutors/t6.jpg" alt="">
                  <div class="tutor-read">
                    <div class="testimonial-msg-card">
                      <div class="testimonial-msg-card-txt">Dolorum tempora officiis odit laborum officiis et et
                        accusamus

                        . </div>
                      <div class="testimonial-msg-card-name">Amanda Jepson</div>
                      <div class="testimonial-msg-card-desc">Dolorum tempora </div>
                      <!-- <a class="testimonial-msg-card-see-story hide-in-mobile" href="#" target="_blank">
                                          Read Teachers' Story &gt;
                                        </a> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="tutor-blog">
                  <img src="assets/images/tutors/t3.jpg" alt="">
                  <div class="tutor-read">
                    <div class="testimonial-msg-card">
                      <div class="testimonial-msg-card-txt">Quisquam facilis cum velit laborum corrupti fuga rerum quia
                      </div>
                      <div class="testimonial-msg-card-name">William Anderson</div>
                      <div class="testimonial-msg-card-desc">laborum corrupti </div>
                      <!-- <a class="testimonial-msg-card-see-story hide-in-mobile" href="#" target="_blank">
                                          Read Teachers' Story &gt;
                                        </a> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="tutor-blog">
                  <img src="assets/images/tutors/t7.jpg" alt="">
                  <div class="tutor-read">
                    <div class="testimonial-msg-card">
                      <div class="testimonial-msg-card-txt">"I live abroad. I am eagerly anticipating them coming back
                        tomorrow!"</div>
                      <div class="testimonial-msg-card-name">Ayush Thakre</div>
                      <div class="testimonial-msg-card-desc">HR Manager - Nagpur </div>
                      <!-- <a class="testimonial-msg-card-see-story hide-in-mobile" href="#" target="_blank">
                                          Read Teachers' Story &gt;
                                        </a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
