.tutor-blog {
    img{
        width: 100%;
        border-radius: 16px;
        height: 350px;
    }
}
@media (min-width: 310px) and (max-width: 470px){
    .tutor-blog {
        img{
            width: 100%;
            border-radius: 16px;
            height: 300px;
        }
    }
}
.testimonial-msg-card {
    position: absolute;
    background-color: #fff;
    padding: 38px;
    right: 50px;
    margin: auto;
    top: 0;
    bottom: 0;
    height: fit-content;
    width: 380px;
    box-shadow: 0px 3px 16px #455b6320;
    border-radius: 15px;
    .testimonial-msg-card-txt{
        color: #1da1f2;
        font-weight: 600;
        font-size: 20px;
    }
    .testimonial-msg-card-name{
        color: #545863;
        font-size: 16px;
        margin-top: 15px;
    }
    .testimonial-msg-card-desc{
        color: #545863;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 15px;
    }
    .testimonial-msg-card-see-story{
        color: #f26e1d;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    }
}
@media (min-width: 310px) and (max-width: 470px){
    .testimonial-msg-card {
        position: absolute;
        background-color: #fff;
        padding: 28px;
        right: 0px;
        margin: auto;
        top: 0;
        bottom: 0;
        height: fit-content;
        width: 329px;
        box-shadow: 0px 3px 16px #455b6320;
        border-radius: 15px;
        .testimonial-msg-card-txt{
            color: #1da1f2;
            font-weight: 600;
            font-size: 20px;
        }
        .testimonial-msg-card-name{
            color: #545863;
            font-size: 16px;
            margin-top: 15px;
        }
        .testimonial-msg-card-desc{
            color: #545863;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 15px;
        }
        .testimonial-msg-card-see-story{
            color: #f26e1d;
        font-weight: 600;
        font-size: 16px;
        text-decoration: none;
        }
    }
}