<section class="section-padding bg-blue">

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="section-title">Our users love us!</h2>
      </div>
      <div class="col-md-7 m-auto pt-5 pb-4">
        <div id="demo" class="carousel slide" data-interval="false" data-ride="carousel">

          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <!-- <li data-target="#demo" data-slide-to="2"></li>
              <li data-target="#demo" data-slide-to="3"></li>
              <li data-target="#demo" data-slide-to="4"></li> -->
          </ul>

          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="testimonial-blog text-center">
                <div class="item">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="testimonial-blog wow fadeInDown" data-wow-delay="0.2s">
                        <div class="item">
                          <div class="testimonial-box">
                            <img src="https://storage.googleapis.com/plusneed_gallery/n_ui_2021/1.27.40/dummyphoto.png"
                              alt="">
                            <div class="text-testi">
                              <!-- <span class="quote"><i class="fa fa-quote-left"></i></span> -->
                              <p>I live abroad. Recently, got a dance tutor from India for my daughter via PlusNeed.
                                It's helping to nurture her talent, with a touch of Indian culture.</p>
                              <p class="name pt-1 pb-1"> Chetan Karemore</p>
                              <i class="material-icons">star</i>
                              <i class="material-icons">star</i>
                              <i class="material-icons">star</i>
                              <i class="material-icons">star</i>
                              <i class="material-icons">star</i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="testimonial-blog text-center">
                <div class="item">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="testimonial-blog wow fadeInDown" data-wow-delay="0.2s">
                        <div class="item">
                          <div class="testimonial-box">
                            <img src="https://storage.googleapis.com/plusneed_gallery/n_ui_2021/1.27.40/dummyphoto.png"
                              alt="">
                            <div class="text-testi">
                              <!-- <span class="quote"><i class="fa fa-quote-left"></i></span> -->
                              <p> lusNeed. It's helping to nurture her talent, with a touch of Indian culture.</p>
                              <p class="name pt-1 pb-1"> Hitesh tupkar</p>
                              <i class="material-icons">star</i>
                              <i class="material-icons">star</i>
                              <i class="material-icons">star</i>
                              <i class="material-icons">star</i>
                              <i class="material-icons">star</i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>


          </div>

          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>

        </div>
      </div>


    </div>
  </div>
</section>
