/* new slider */
.address {
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 14rem;
  }
  .desk-height .testimonial-box {
    width: 80%;
    margin: auto;
  }
  .testimonial-box img {
    width: 4rem;
    border-radius: 50px;
    height: 4rem;
    margin-bottom: 11px;
    border: 1px solid #ddd;
  }
  .carousel-control-prev-icon {
    background-image: url(/../assets/images/back.png);
  }
   .carousel-control-next-icon {
     background-image: url(/../assets/images/next.png);
   }
  .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 40px;
    height: 40px;
  }
  .text-testi i {
    margin-right: 9px;
    color: gold;
  }
  .text-testi p {
    padding: 0 110px;
  }
  @media (min-width:310px) and (max-width:470px){
    .quote {
        top: -6px;
    }
    .text-testi p {
      padding: 0 15px;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
      width: 25px;
      height: 25px;
  }
    }

    .carousel-indicators li {
      width: 10px;
      height: 10px;
      border-radius: 90px;
      border: 2px solid #ddd;
  }
  
  .carousel-indicators .active {
      opacity: 1;
  }
  .carousel-indicators li {
      background-color: #000412;
  }
 .carousel-indicators {
    bottom: -43px;
}
.bg-blue{
  background: #1c2a5e;
}
.section-title {
  color: #fff;
}
.text-testi p {
  color: #fff;
}
.name {
  font-size: 18px;
}