
<app-banner></app-banner>
<app-statistic></app-statistic>
<app-why-use></app-why-use>
<app-how-itwork></app-how-itwork>
<app-top-totor></app-top-totor> 
<!-- <app-testimonials></app-testimonials> -->



