<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class=" col-md-4 mb-2">
        <div class="statistic">
          <img src="assets/images/banners/h5.png" class="w-100">

        </div>
      </div>
      <div class=" col-md-8">
        <div class="statistic">
          <h2 class="text-center text-primary">Metro Facility Management</h2>
          <p style="font-size:15px; font-family: Times New Roman, Times, serif;">Metro Facility Management is
            professional in HR Solution As Staffing, Housekeeping, Security solution and project management etc. Our
            leadership qualities and innovative ideas guided by professional in aforesaid fields. METRO to realize that
            constant changes are the only step forward toward the future. METRO have approved standard of ISO 9001-2008.
            METRO provide highest quality manpower services to all our esteemed clients to fit in all circumstances and
            within budgets. METRO vision is to provide security with cutting edge protection and loss prevention
            services, which is unique in the field of private security organization. It has been our endeavor to be
            innovative productive, positive and quality conscious so that we effectively secure tomorrow today.</p>

        </div>
      </div>

    </div>
  </div>
</section>
